*{
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}

/* CSS variables */
:root{
    --nav-h: 50px;
}


/* CSS Navbar */
#navbar::before{
    content: "";
    background-color: rgb(46, 43, 42);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
}

#navbar{
    /* position: relative; */
    top: 0px;
}


/* Logo for navbar */
#logo{
    margin: 15px 34px;
}

#logo img{
    height: 60px;
    margin: 3px 6px;
}


/* List item of navabr */
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navbar ul li{
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Indie Flower', cursive;

}

#navbar ul li a{
    color: #ff5722;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: chocolate;
}


/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 540px;
    padding: 3px 150px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}

#home h1{
    color: #ff5722;
    text-align: center;
    margin-top: -75px;
}

#home p{
    color: wheat;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}


/* Service center */
#service-container{
    background-color: #351e16;
}

#service{
    margin: 34px;
    display: flex;
}

#service .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 20px 6px;
    border-radius: 28px;
    background-image: linear-gradient(to bottom right, rgb(255, 208, 169), rgb(250, 189, 132));
    transition-property: all;
    transition-duration: 3s;
}

#service .box:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom right, pink, skyblue);
}

#service .box img{
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}


/* Info container */
#info-container{
    display: flex;
    flex-direction: column;
    height: 540px;
}

#info-container::before{
    content: "";
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    position: absolute;
    top: 1025px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}


/* Contact_section */
#contact{
    position: relative;
    background-color: #351e16;
    height: 540px;
    margin-top: -100px;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input, textarea{
    width: 100%;
    padding: 0.8rem;
    background-color: bisque;
    border-radius: 9px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
}












/* Utility class */
.h-primary{
    font-size: 2.8rem;
    padding: 15px;
    font-family: 'Indie Flower', cursive;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 15px;
    font-family: 'Indie Flower', cursive;
}

.center{
    text-align: center;
    color:  #ff5722;
    font-family: 'Indie Flower', cursive;
}

.right{
    text-align: left;
    color: wheat;
    font-family: 'Indie Flower', cursive;
    padding-top: 0px;
    padding-left: 51px;
    font-size: 1.8rem;
}

.info-head{
    font-size: 2.8rem;
    padding: 15px;
    font-family: 'Indie Flower', cursive;
    color: #ff5722;
}

.contact-head{
    font-size: 2.8rem;
    padding: 15px;
    font-family: 'Indie Flower', cursive;
    color: #ff5722;
    padding-top: 82px;
    padding-left: 580px;
}

.form-group{
    color: wheat;
}



footer{
    background-color: black;
    padding: 9px 20px;
}






